@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

// Colors
    // primary
    $col-primary_cyan86: hsl(193, 38%, 86%);
    $col-primary_green66: hsl(150, 100%, 66%);
    // neutral
    $col-neutral_blue38: hsl(217, 19%, 38%);
    $col-neutral_blue24: hsl(217, 19%, 24%);
    $col-neutral_blue16: hsl(218, 23%, 16%);